{% extends 'base.html.twig' %}
{% block title %}Vue d'ensemble {% endblock title %}
{% block body %}
<div class="container-fluid py-4">
  {% include './_partials/index/overview.html.twig' %}
  {% include './_partials/index/actions.html.twig' %}
  {% include './_partials/index/chart.html.twig' %}
</div>
{% endblock body %}
