{% extends 'base.html.twig' %}
{% block title %}Moodification du gestion | Mot de passe {% endblock title %}
{% block body %}
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    {% include './_partials/managers/modify/password/content.html.twig' %}
</div>
{% endblock body %}