{% if rider %}
  <div class="col-xl-4 col-md-6 mb-xl-0 mb-4">
    <div class="card card-blog card-plain">
      <div class="position-relative">
        <a class="d-block shadow-xl border-radius-xl">
          <img src="{{rider.rider.profileImage}}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
        </a>
      </div>
    </div>
  </div>
{% endif %}

