{% extends 'base.html.twig' %}
{% block title %}Liste des commandes {% endblock title %}
{% block body %}
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    {% include './_partials/orders/list/content.html.twig' %}
</div>
{% endblock body %}