{% block header %}
  <!DOCTYPE html>
  <html lang="fr">
    <head>
      {% include './_partials/menus/stylesheets.html.twig' %}
      {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
      {% endblock %}

      {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
      {% endblock %}
    </head>

    <body class="g-sidenav-show  bg-gray-100">
      {% include './_partials/menus/aside-menu.html.twig' %}
      <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        {% include '/_partials/menus/nav-bar.html.twig' %}
{% endblock header %}

{% block body %}{% endblock body %}

{% block footer %}
      {% include './_partials/menus/footer.html.twig' %}
      </div>
    </main>

    {% include './_partials/menus/javascript.html.twig' %}
  </body>

</html>
{% endblock footer %}
