{% extends 'base.html.twig' %}
{% block title %}Demandes d'adhesions d'Entreprises {% endblock title %}
{% block body %}
<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    {% include './_partials/companies/list/content.html.twig' %}
</div>
{% endblock body %}